.portafolio__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .625rem;
  margin-bottom: 1rem;
}

.portafolio__projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 2rem;
  row-gap: 1.3rem;
}

.portafolio__project {
  background: var(--white);
  padding: 1.5rem;
  border-top-left-radius: .5rem;
}

.portafolio__project .stack {
  display: flex;
  justify-content: space-between;
}

.portafolio__project .stack__items {
  display: flex;
  gap: 1rem;
}

.portafolio__project .stack__items .stack__item {
  background: var(--background);
  padding: .5rem;
  border-radius: .5rem;
}

.portafolio__project .title {
  margin-top: 1rem;
}

.portafolio__project .description {
  margin: .5rem 0;
}

.portafolio__project .concepts__applied {
  display: flex;
  gap: .5rem;
}

.portafolio__project .concepts__applied .concept{
  background: var(--primary-lighter);
  padding: .125rem .625rem;
  border-radius: .625rem;
}
