.button {
  color: var(--gray-900);
  background: var(--gray-300);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;

  padding: 0.75rem 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.button:hover {
  background: var(--gray-400);
}

.button:active {
  background: var(--gray-500);
}

.button:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
}

.button:disabled,
.button[disabled]{
  opacity: 0.6;
  background: var(--gray-300);
  cursor: not-allowed;
}

.button--sm {
  font-size: .875rem;
  padding: .5rem .75rem;
}

.button--lg {
  font-size: 1.125rem;
  padding: .875rem 1.5rem;
}

.button--primary {
  color: var(--primary-lighter);
  background: var(--primary);
  font-weight: 600;
}

.button--primary:hover {
  background: var(--primary-dark);
}

.button--primary:active {
  background: var(--primary-darker);
}

.button--primary:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
}

.button--primary:disabled {
  opacity: 0.6;
  background: var(--primary);
  cursor: not-allowed;
}

.button--secondary {
  color: var(--white);
  background: var(--secondary);
}

.button--secondary:hover {
  background: var(--secondary-dark);
}

.button--secondary:active {
  background: var(--secondary-darker);
}

.button--secondary:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
}

.button--secondary:disabled {
  opacity: 0.6;
  background-color: var(--secondary);
  cursor: not-allowed;
}
